:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, #5f43b2, #8c73e9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, input, select, .custom-file-upload {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover, input:hover, select:hover, .custom-file-upload:hover, .slack-button:hover {
  border-color: #646cff;
}

button:focus, input:focus, select:focus, .custom-file-upload:focus,
button:focus-visible, input:focus-visible, select:focus-visible, .custom-file-upload:focus-visible, .slack-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: default;
  outline: 0px;
  display: none;
}

button:disabled:hover {
  border: 0px;
  outline: 0px;
}

input[type="file"] {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-select {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

.slack-button {
  border: 2px solid #535bf200;
}

.slack-button:hover {
  box-shadow: 0 0 10px #646cff;
  border: 2px solid #646cff;
}

select{
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

option {
  text-align-last: center;
}

button {
  padding: 0.8em 8em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-out forwards;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #5f43b2, #8c73e9);
  padding: 80px;
  z-index: 1001;
  border-radius: 10px;
  width: 90%;
  height: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: visible;
  animation: fadeInModalContent 1.5s ease-out forwards;
}

@keyframes fadeInModalContent {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.logo-image {
  width: 350px;
  height: auto;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  animation: particles 75s infinite linear;
  z-index: -1;
}


@keyframes particles {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -200vh;
  }
}
